ul.overpass-layer-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul.overpass-layer-list > li {
  position: relative;
  list-style: none;
  min-height: 30px;
  padding-left: 40px;
}
ul.overpass-layer-list > li.selected {
  background: #e0e0e0;
}
ul.overpass-layer-list > li > .markerParent {
  position: absolute;
  margin-left: -35px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: block;
  color: black;
  text-decoration: none;
}
ul.overpass-layer-list > li > .markerParent > .marker {
}
ul.overpass-layer-list > li > .markerParent > .icon {
  text-align: center;
  position: absolute;
  top: 3px;
  font-size: 15px;
  left: 0;
  right: 0;
  z-index: 1;
  display: inline-block;
}
ul.overpass-layer-list > li > .content > a.title {
  display: inline-block;
  color: black;
  text-decoration: none;
}
ul.overpass-layer-list > li > .content > a.title:hover,
ul.overpass-layer-list > li > .content > a.title:active {
  text-decoration: underline;
}
ul.overpass-layer-list > li > .content > div.description {
  font-style: italic;
  color: #707070;
  float: right;
  text-align: right;
}
ul.overpass-layer-list > li:after {
  content: '';
  display: table;
  clear: both;
}

.hoverable {
  cursor: pointer;
}
